{% extends 'silex-website-framework-base.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block header %}200 - OK{% endblock %}

{% block document %}
    <p class="lead">Your first page!</p>
    <p>Logic will get you from A to B. Imagination will take you everywhere - Einstein</p>
{% endblock %}
