<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style type="text/css">
* { margin: 0; padding: 0; }
body { font-family: 'Open Sans', sans-serif; background-color: #F5F5F5; }
.header { background-color: #FFFFFF; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08); padding: 15px; }
.header h1 { font-weight: normal; font-size: 1.0rem; color: #DB0B38; }
.document { margin: 30px 0; background-color: #FFFFFF; padding: 15px; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.08); }
.document h2 { font-size: 1.0rem; color: #CCCCCC; font-weight: normal; padding-top: 20px; }
.document p { line-height: 1.3; padding-bottom: 10px; }
.document p.lead { font-size: 1.5rem; }
.document p.error-message { font-family: monospace; padding: 10px 0 30px 0; }
@media (min-width: 900px) {
    .header { padding: 30px; }
    .document { margin: 50px auto; width: 800px; padding: 30px; }
    .document p { line-height: 2.0; }
}
        </style>
    </head>
    <body>
        <div class="header">
            <h1>{% block header %}{% endblock %}</h1>
        </div>
        <div class="document">
{% block document %}
{% endblock %}
        </div>
    </body>
</html>